{% extends "base.html" %}

{% block pagecontent %}

<div class="page-content">
    <input type="text" id="mode" hidden="true" value="{{ mode }}"/>
    <p id="h-apply-id" hidden="true">{{ apply.apply_id }}</p>
    <div id="pdf-info">
    <br><br><br>
    <table class="pdf-table" border="1" align="center" width="900" id="table1">
        <h1 align="center">立山区公共租赁租房（申请）审批表</h1>
        <br>
        <h4 align="center">编号：{{ apply.apply_id }}（{{ apply.state_str }}）&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;单位：平方米，人，元</h4>
        <br>
        <tr height="60" align="center" >
            <td width="50" rowspan="8">
                <p>申请</p>
                <p>人基</p>
                <p>本情</p>
                <p>况及</p>
                <p>申情</p>
                <p>公共</p>
                <p>租赁</p>
                <p>住房</p>
                <p>情况</p>
            </td>
            <td width="80">姓名</td>
            <td width="200">{{ apply.tenant_name }}</td>
            <td width="60">性别</td>
            <td width="90">{{ apply.sex }}</td>
            <td width="80">身份证</td>
            <td width="340">{{ apply.tenant_IDcode }}</td>
        </tr>
        <tr height="60" align="center" >
            <td>婚姻状况</td>
            <td colspan="5">{{ apply.marital_status }}</td>
        </tr>
        <tr height="80" align="center" >
            <td>工作单位</td>
            <td colspan="3">{{ apply.tenant_unit }}</td>
            <td>单位地址</td>
            <td>{{ apply.tenant_unit_address }}</td>
        </tr>
        <tr height="80" align="center" >
            <label id="unit-pro-business" hidden>{{ apply.unit_pro_business }}</label>
            <label id="unit-pro-office" hidden="true">{{ apply.unit_pro_office }}</label>
            <label id="unit-pro-employment" hidden="true">{{ apply.unit_pro_employment }}</label>
            <label id="unit-pro-retire" hidden="true">{{ apply.unit_pro_retire }}</label>
            <label id="unit-pro-other" hidden="true">{{ apply.unit_pro_other }}</label>
            <td>单位性质</td>
            <td colspan="5" id="td-unit-pro"></td>
        </tr>
        <tr height="80" align="center" >
            <td id="pro-graduate" hidden="true">{{ apply.pro_graduate }}</td>
            <td id="pro-outside" hidden="true">{{ apply.pro_outside }}</td>
            <td id="pro-gov_talent" hidden="true">{{ apply.pro_gov_talent }}</td>
            <td id="pro-difficult" hidden="true">{{ apply.pro_difficult }}</td>
            <td id="pro-cheap" hidden="true">{{ apply.pro_cheap }}</td>
            <td id="pro-economy" hidden="true">{{ apply.pro_economy }}</td>
            <td>申请人类型</td>
            <td colspan="5" id="td-pro"></td>
        </tr>
        <tr height="60" align="center" >
            <td>户口所在地址</td>
            <td colspan="5">{{ apply.card_address }}</td>
        </tr>
        <tr height="60" align="center" >
            <td>现居住地址</td>
            <td colspan="5">{{ apply.now_address }}</td>
        </tr>
        <tr height="60" align="center" >
            <td>低保证</td>
            <td colspan="5">{{ apply.minimum_living_no }}</td>
        </tr>
    </table>
    <table class="pdf-table" border="1" align="center" width="900">
        <tr height="70" align="center">
            <td width="50" rowspan="6">
                <p>申请</p>
                <p>人家</p>
                <p>庭</p>
                <p>收入</p>
                <p>情况</p>
            </td>
            <td width="80">与申请人关系</td>
            <td width="150">姓名</td>
            <td width="200">身份证</td>
            <td width="300">工作单位</td>
            <td width="120">年收入</td>
        </tr>
        <tr height="70" align="center">
            <td>{{ apply.member_relation_1 }}</td>
            <td>{{ apply.member_name_1 }}</td>
            <td>{{ apply.member_ID_1 }}</td>
            <td>{{ apply.member_unit_1 }}</td>
            <td>{{ apply.member_income_1 }}</td>
        </tr >
        <tr height="70" align="center">
            <td>{{ apply.member_relation_2 }}</td>
            <td>{{ apply.member_name_2 }}</td>
            <td>{{ apply.member_ID_2 }}</td>
            <td>{{ apply.member_unit_2 }}</td>
            <td>{{ apply.member_income_2 }}</td>
        </tr>
        <tr height="70" align="center">
            <td>{{ apply.member_relation_3 }}</td>
            <td>{{ apply.member_name_3 }}</td>
            <td>{{ apply.member_ID_3 }}</td>
            <td>{{ apply.member_unit_3 }}</td>
            <td>{{ apply.member_income_3 }}</td>
        </tr>
        <tr height="70" align="center">
            <td>{{ apply.member_relation_4 }}</td>
            <td>{{ apply.member_name_4 }}</td>
            <td>{{ apply.member_ID_4 }}</td>
            <td>{{ apply.member_unit_4 }}</td>
            <td>{{ apply.member_income_4 }}</td>
        </tr>
        <tr height="70" align="center">
            <td>{{ apply.member_relation_5 }}</td>
            <td>{{ apply.member_name_5 }}</td>
            <td>{{ apply.member_ID_5 }}</td>
            <td>{{ apply.member_unit_5 }}</td>
            <td>{{ apply.member_income_5 }}</td>
        </tr>
    </table>
    <table class="pdf-table" border="1" align="center" width="900">
        <tr height="60" align="center">
            <td width="130">家庭人均月收入</td>
            <td width="350">{{ apply.income_avg }}</td>
            <td width="130">家庭成员收入合计</td>
            <td width="290">{{ apply.income_all }}</td>
        </tr>
    </table>
    <table class="pdf-table" border="1" align="center" width="900">
        <tr height="350" align="right">
            <td width="130" align="center">家庭收入认定意见</td>
            <td width="770">经办人&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            认定部门（盖章）&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <br><br><br><br>
            年&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;月&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;日
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            </td>
        </tr>
    </table>
    <br><br><br>
    <p id="huiche"><br><br><br><br><br><br><br><br><br></p>
    <table class="pdf-table" border="1" align="center" width="900">
        <tr height="60" align="center">
            <td width="50" rowspan="5">
                <p>申请</p>
                <p>人家</p>
                <p>庭成</p>
                <p>员</p>
                <p>住房</p>
                <p>情况</p>
            </td>
            <td width="150">产权人或承租人</td>
            <td width="380">房屋坐落</td>
            <td width="130">建筑面积</td>
            <td width="190">住房性质</td>
        </tr>
        <tr height="60" align="center">
            <td>{{ apply.member_name_11 }}</td>
            <td>{{ apply.member_address_11 }}</td>
            <td>{{ apply.member_con_area_11 }}</td>
            <td>{{ apply.member_door_pro_11 }}</td>
        </tr>
        <tr height="60" align="center">
            <td>{{ apply.member_name_12 }}</td>
            <td>{{ apply.member_address_12 }}</td>
            <td>{{ apply.member_con_area_12 }}</td>
            <td>{{ apply.member_door_pro_12 }}</td>
        </tr>
        <tr height="60" align="center">
            <td>近五年转让房屋情况</td>
            <td>{{ apply.transfer_address_1 }}</td>
            <td>{{ apply.transfer_con_area_1 }}</td>
            <td>{{ apply.transfer_pro }}</td>
        </tr>
        <tr height="60" align="center">
            <td>近五年拆迁房屋情况</td>
            <td>{{ apply.remove_address_1 }}</td>
            <td>{{ apply.remove_con_area_1 }}</td>
            <td>{{ apply.remove_pro }}</td>
        </tr>
        <tr height="60" align="center">
            <td colspan="2">家庭人均建筑面积</td>
            <td colspan="3">{{ apply.con_area_avg }}</td>
        </tr>
    </table>
    <table class="pdf-table" border="1" align="center" width="900">
        <tr height="300" align="center">
            <td width="450">
                <br>
                <p align="left">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;所在社区意见：</p> <br><br><br>
                <p align="left">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;负责人：</p> <br>
                <p align="left">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;经办人：&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;公章</p><br><br><br>
                <p align="right">
            年&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;月&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;日
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                </p>
            </td>
            </td>
            <td width="450">
                <br>
                <p align="left">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;所在街道办事处意见：</p> <br><br><br>
                <p align="left">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;负责人：</p><br>
                <p align="left">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;经办人：&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;公章</p><br><br><br>
                <p align="right">
            年&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;月&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;日
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                </p>
            </td>
        </tr>
        <tr height="300" align="center">
            <td width="900" colspan="2">
                <br>
                <p align="left">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;区县(市)住房保障部门意见：</p> <br><br><br>
                <p align="left">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;负责人：</p><br>
                <p align="left">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;经办人：</p>
                <p align="right">公章&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</p>
                <br>
                <p align="right">
            年&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;月&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;日
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                </p>
            </td>
        </tr>
        <tr height="400" align="center">
            <td width="900" colspan="2">
                <br>
                <p align="left">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;市保障性住房管理办公室意见：</p> <br><br><br>
                <br><br><br><br><br>
                <p align="right">
            年&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;月&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;日
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                </p>
            </td>
        </tr>
    </table>
</div>
</div><!-- /.page-content -->
{% endblock %}
{% block optbuttons %}
<button class="width-15 btn btn-sm btn-primary" id="btn-show-approve" data-toggle="modal" data-target="#street-approve-modal">
    <i class="ace-icon fa fa-gavel"></i>
    <span class="bigger-110">审批通过</span>
</button>
<button class="width-15 btn btn-sm btn-primary" id="btn-print" onclick="$.save_table()">
    <i class="ace-icon fa fa-floppy-o"></i>
    <span class="bigger-110">保存表单</span>
</button>
<div class="nav-search" id="nav-search">
    <span class="input-icon">
        <input type="text" placeholder="审批表编号" class="nav-search-input" id="apply-id-search" autocomplete="off" />
        <i class="ace-icon fa fa-search nav-search-icon"></i>
    </span>
    <button class="width-15 btn btn-sm btn-primary" id="btn-search"
            onclick="$.search_apply_table($('#apply-id-search').val(), $('#mode').val())">
        <i class="ace-icon fa fa-search"></i>
        <span class="bigger-110">查询</span>
    </button>
</div><!-- /.nav-search -->
{% endblock %}
{% block street_account %}
<!--街道审批模块-->
<div class="modal fade" id="street-approve-modal" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button class="close" data-dismiss="modal">&times;</button>
                <h4>街道审批信息</h4>
            </div>
            <div class="modal-body">
                <form name="searchHouseRentForm" role="form" method="POST">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label>审批表编号</label>
                                <div>
                                    <input type="text" readonly="true" id="apply-id-approve" placeholder="审批表编号" value="{{ apply.apply_id }}"/>
                                </div>
                            </div>
                            <div class="space-2"></div>
                            <div class="form-group">
                                <label for="street-approve-remark">审批备注</label>
                                <div>
                                    <input class="form-control" type="text" id="street-approve-remark" placeholder="审批备注" value=""/>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button class="width-20 pull-right btn btn-sm btn-primary" onclick="$.approve()">
                    <i class="ace-icon fa fa-search"></i>
                    <span class="bigger-110">审批</span>
                </button>
            </div>
        </div>
    </div>
</div>
{% endblock %}
{% block jsreference %}
    <script type="text/javascript">
        jQuery(function($) {
            $('#id-disable-check').on('click', function() {
                var inp = $('#form-input-readonly').get(0);
                if(inp.hasAttribute('disabled')) {
                    inp.setAttribute('readonly' , 'true');
                    inp.removeAttribute('disabled');
                    inp.value="This text field is readonly!";
                }
                else {
                    inp.setAttribute('disabled' , 'disabled');
                    inp.removeAttribute('readonly');
                    inp.value="This text field is disabled!";
                }
            });

            $('[data-rel=tooltip]').tooltip({container:'body'});
            $('[data-rel=popover]').popover({container:'body'});

            autosize($('textarea[class*=autosize]'));

            $('textarea.limited').inputlimiter({
                remText: '%n character%s remaining...',
                limitText: 'max allowed : %n.'
            });

            $.mask.definitions['~']='[+-]';
            $('.input-mask-date').mask('99/99/9999');
            $('.input-mask-phone').mask('(999) 999-9999');
            $('.input-mask-eyescript').mask('~9.99 ~9.99 999');
            $(".input-mask-product").mask("a*-999-a999",{placeholder:" ",completed:function(){alert("You typed the following: "+this.val());}});


            $( "#input-size-slider" ).css('width','200px').slider({
                value:1,
                range: "min",
                min: 1,
                max: 8,
                step: 1,
                slide: function( event, ui ) {
                    var sizing = ['', 'input-sm', 'input-lg', 'input-mini', 'input-small', 'input-medium', 'input-large', 'input-xlarge', 'input-xxlarge'];
                    var val = parseInt(ui.value);
                    $('#form-field-4').attr('class', sizing[val]).attr('placeholder', '.'+sizing[val]);
                }
            });

            $( "#input-span-slider" ).slider({
                value:1,
                range: "min",
                min: 1,
                max: 12,
                step: 1,
                slide: function( event, ui ) {
                    var val = parseInt(ui.value);
                    $('#form-field-5').attr('class', 'col-xs-'+val).val('.col-xs-'+val);
                }
            });

            //"jQuery UI Slider"
            //range slider tooltip example
            $( "#slider-range" ).css('height','200px').slider({
                orientation: "vertical",
                range: true,
                min: 0,
                max: 100,
                values: [ 17, 67 ],
                slide: function( event, ui ) {
                    var val = ui.values[$(ui.handle).index()-1] + "";

                    if( !ui.handle.firstChild ) {
                        $("<div class='tooltip right in' style='display:none;left:16px;top:-6px;'><div class='tooltip-arrow'></div><div class='tooltip-inner'></div></div>")
                        .prependTo(ui.handle);
                    }
                    $(ui.handle.firstChild).show().children().eq(1).text(val);
                }
            }).find('span.ui-slider-handle').on('blur', function(){
                $(this.firstChild).hide();
            });


            $( "#slider-range-max" ).slider({
                range: "max",
                min: 1,
                max: 10,
                value: 2
            });

            $( "#slider-eq > span" ).css({width:'90%', 'float':'left', margin:'15px'}).each(function() {
                // read initial values from markup and remove that
                var value = parseInt( $( this ).text(), 10 );
                $( this ).empty().slider({
                    value: value,
                    range: "min",
                    animate: true

                });
            });

            $("#slider-eq > span.ui-slider-purple").slider('disable');//disable third item


            $('#id-input-file-1 , #id-input-file-2').ace_file_input({
                no_file:'No File ...',
                btn_choose:'Choose',
                btn_change:'Change',
                droppable:false,
                onchange:null,
                thumbnail:false //| true | large
                //whitelist:'gif|png|jpg|jpeg'
                //blacklist:'exe|php'
                //onchange:''
                //
            });
            //pre-show a file name, for example a previously selected file
            //$('#id-input-file-1').ace_file_input('show_file_list', ['myfile.txt'])


            $('#id-input-file-3').ace_file_input({
                style: 'well',
                btn_choose: 'Drop files here or click to choose',
                btn_change: null,
                no_icon: 'ace-icon fa fa-cloud-upload',
                droppable: true,
                thumbnail: 'small'//large | fit
                //,icon_remove:null//set null, to hide remove/reset button
                /**,before_change:function(files, dropped) {
                    //Check an example below
                    //or examples/file-upload.html
                    return true;
                }*/
                /**,before_remove : function() {
                    return true;
                }*/
                ,
                preview_error : function(filename, error_code) {
                    //name of the file that failed
                    //error_code values
                    //1 = 'FILE_LOAD_FAILED',
                    //2 = 'IMAGE_LOAD_FAILED',
                    //3 = 'THUMBNAIL_FAILED'
                    //alert(error_code);
                }

            }).on('change', function(){
                //console.log($(this).data('ace_input_files'));
                //console.log($(this).data('ace_input_method'));
            });


            //$('#id-input-file-3')
            //.ace_file_input('show_file_list', [
                //{type: 'image', name: 'name of image', path: 'http://path/to/image/for/preview'},
                //{type: 'file', name: 'hello.txt'}
            //]);

            //dynamically change allowed formats by changing allowExt && allowMime function
            $('#id-file-format').removeAttr('checked').on('change', function() {
                var whitelist_ext, whitelist_mime;
                var btn_choose
                var no_icon
                if(this.checked) {
                    btn_choose = "Drop images here or click to choose";
                    no_icon = "ace-icon fa fa-picture-o";

                    whitelist_ext = ["jpeg", "jpg", "png", "gif" , "bmp"];
                    whitelist_mime = ["image/jpg", "image/jpeg", "image/png", "image/gif", "image/bmp"];
                }
                else {
                    btn_choose = "Drop files here or click to choose";
                    no_icon = "ace-icon fa fa-cloud-upload";

                    whitelist_ext = null;//all extensions are acceptable
                    whitelist_mime = null;//all mimes are acceptable
                }
                var file_input = $('#id-input-file-3');
                file_input
                .ace_file_input('update_settings',
                {
                    'btn_choose': btn_choose,
                    'no_icon': no_icon,
                    'allowExt': whitelist_ext,
                    'allowMime': whitelist_mime
                })
                file_input.ace_file_input('reset_input');

                file_input
                .off('file.error.ace')
                .on('file.error.ace', function(e, info) {
                    //console.log(info.file_count);//number of selected files
                    //console.log(info.invalid_count);//number of invalid files
                    //console.log(info.error_list);//a list of errors in the following format

                    //info.error_count['ext']
                    //info.error_count['mime']
                    //info.error_count['size']

                    //info.error_list['ext']  = [list of file names with invalid extension]
                    //info.error_list['mime'] = [list of file names with invalid mimetype]
                    //info.error_list['size'] = [list of file names with invalid size]


                    /**
                    if( !info.dropped ) {
                        //perhapse reset file field if files have been selected, and there are invalid files among them
                        //when files are dropped, only valid files will be added to our file array
                        e.preventDefault();//it will rest input
                    }
                    */
                    //if files have been selected (not dropped), you can choose to reset input
                    //because browser keeps all selected files anyway and this cannot be changed
                    //we can only reset file field to become empty again
                    //on any case you still should check files with your server side script
                    //because any arbitrary file can be uploaded by user and it's not safe to rely on browser-side measures
                });

            });

            $('#spinner1').ace_spinner({value:0,min:0,max:200,step:10, btn_up_class:'btn-info' , btn_down_class:'btn-info'})
            .closest('.ace-spinner')
            .on('changed.fu.spinbox', function(){
                //console.log($('#spinner1').val())
            });
            $('#spinner2').ace_spinner({value:0,min:0,max:10000,step:100, touch_spinner: true, icon_up:'ace-icon fa fa-caret-up bigger-110', icon_down:'ace-icon fa fa-caret-down bigger-110'});
            $('#spinner3').ace_spinner({value:0,min:-100,max:100,step:10, on_sides: true, icon_up:'ace-icon fa fa-plus bigger-110', icon_down:'ace-icon fa fa-minus bigger-110', btn_up_class:'btn-success' , btn_down_class:'btn-danger'});
            $('#spinner4').ace_spinner({value:0,min:-100,max:100,step:10, on_sides: true, icon_up:'ace-icon fa fa-plus', icon_down:'ace-icon fa fa-minus', btn_up_class:'btn-purple' , btn_down_class:'btn-purple'});

            //$('#spinner1').ace_spinner('disable').ace_spinner('value', 11);
            //or
            //$('#spinner1').closest('.ace-spinner').spinner('disable').spinner('enable').spinner('value', 11);//disable, enable or change value
            //$('#spinner1').closest('.ace-spinner').spinner('value', 0);//reset to 0


            //datepicker plugin
            //link
            $('.date-picker').datepicker({
                autoclose: true,
                todayHighlight: true
            })
            //show datepicker when clicking on the icon
            .next().on(ace.click_event, function(){
                $(this).prev().focus();
            });

            //or change it into a date range picker
            $('.input-daterange').datepicker({autoclose:true});


            //to translate the daterange picker, please copy the "examples/daterange-fr.js" contents here before initialization
            $('input[name=date-range-picker]').daterangepicker({
                'applyClass' : 'btn-sm btn-success',
                'cancelClass' : 'btn-sm btn-default',
                locale: {
                    applyLabel: 'Apply',
                    cancelLabel: 'Cancel',
                }
            })
            .prev().on(ace.click_event, function(){
                $(this).next().focus();
            });

            if(!ace.vars['old_ie']) $('#date-timepicker1').datetimepicker({
             //format: 'MM/DD/YYYY h:mm:ss A',//use this option to display seconds
             icons: {
                time: 'fa fa-clock-o',
                date: 'fa fa-calendar',
                up: 'fa fa-chevron-up',
                down: 'fa fa-chevron-down',
                previous: 'fa fa-chevron-left',
                next: 'fa fa-chevron-right',
                today: 'fa fa-arrows ',
                clear: 'fa fa-trash',
                close: 'fa fa-times'
             }
            }).next().on(ace.click_event, function(){
                $(this).prev().focus();
            });


            $('#colorpicker1').colorpicker();
            //$('.colorpicker').last().css('z-index', 2000);//if colorpicker is inside a modal, its z-index should be higher than modal'safe

            $('#simple-colorpicker-1').ace_colorpicker();
            //$('#simple-colorpicker-1').ace_colorpicker('pick', 2);//select 2nd color
            //$('#simple-colorpicker-1').ace_colorpicker('pick', '#fbe983');//select #fbe983 color
            //var picker = $('#simple-colorpicker-1').data('ace_colorpicker')
            //picker.pick('red', true);//insert the color if it doesn't exist
            $(".knob").knob();
            var tag_input = $('#form-field-tags');
            try{
                tag_input.tag(
                  {
                    placeholder:tag_input.attr('placeholder'),
                    //enable typeahead by specifying the source array
                    source: ace.vars['US_STATES'],//defined in ace.js >> ace.enable_search_ahead
                    /**
                    //or fetch data from database, fetch those that match "query"
                    source: function(query, process) {
                      $.ajax({url: 'remote_source.php?q='+encodeURIComponent(query)})
                      .done(function(result_items){
                        process(result_items);
                      });
                    }
                    */
                  }
                )

                //programmatically add/remove a tag
                var $tag_obj = $('#form-field-tags').data('tag');
                $tag_obj.add('Programmatically Added');

                var index = $tag_obj.inValues('some tag');
                $tag_obj.remove(index);
            }
            catch(e) {
                //display a textarea for old IE, because it doesn't support this plugin or another one I tried!
                tag_input.after('<textarea id="'+tag_input.attr('id')+'" name="'+tag_input.attr('name')+'" rows="3">'+tag_input.val()+'</textarea>').remove();
                //autosize($('#form-field-tags'));
            }


            /////////
            $('#modal-form input[type=file]').ace_file_input({
                style:'well',
                btn_choose:'Drop files here or click to choose',
                btn_change:null,
                no_icon:'ace-icon fa fa-cloud-upload',
                droppable:true,
                thumbnail:'large'
            })

            //chosen plugin inside a modal will have a zero width because the select element is originally hidden
            //and its width cannot be determined.
            //so we set the width after modal is show
            $('#modal-form').on('shown.bs.modal', function () {
                if(!ace.vars['touch']) {
                    $(this).find('.chosen-container').each(function(){
                        $(this).find('a:first-child').css('width' , '210px');
                        $(this).find('.chosen-drop').css('width' , '210px');
                        $(this).find('.chosen-search input').css('width' , '200px');
                    });
                }
            })
            /**
            //or you can activate the chosen plugin after modal is shown
            //this way select element becomes visible with dimensions and chosen works as expected
            $('#modal-form').on('shown', function () {
                $(this).find('.modal-chosen').chosen();
            })
            */



            $(document).one('ajaxloadstart.page', function(e) {
                autosize.destroy('textarea[class*=autosize]')

                $('.limiterBox,.autosizejs').remove();
                $('.daterangepicker.dropdown-menu,.colorpicker.dropdown-menu,.bootstrap-datetimepicker-widget.dropdown-menu').remove();
            });

        });
</script>
{% endblock %}
{% block reference %}
    <script src="{{ url_for('static', filename='js/lib/html2canvas.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/lib/jspdf.debug.js') }}"></script>
    <script src="{{ url_for('static', filename='js/approve.js') }}"></script>
{% endblock %}
