<!DOCTYPE html>
<html>
<head>
    {% block header %}
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
<!--	<meta charset="utf-8" />-->
	<title>公租房廉租房审批系统</title>
	<meta name="description" content="overview &amp; stats" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />
    <!-- bootstrap & fontawesome -->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/lib/bootstrap.min.css') }}">
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='font-awesome/4.5.0/css/font-awesome.min.css') }}" />
	<!-- page specific plugin styles -->
	<!-- text fonts -->
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/lib/fonts.googleapis.com.css') }}" />
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}" />
	<!-- ace styles -->
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/lib/ace.min.css') }}" class="ace-main-stylesheet" id="main-ace-style" />
	<!--[if lte IE 9]>
	<link rel="stylesheet" href="assets/css/ace-part2.min.css" class="ace-main-stylesheet" />
	<![endif]-->
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/lib/ace-skins.min.css') }}" />
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/lib/ace-rtl.min.css') }}" />
	<!--[if lte IE 9]>
	<link rel="stylesheet" href="{{ url_for('static', filename='css/lib/ace-ie.min.css') }}" />
	<![endif]-->
	<!-- inline styles related to this page -->
	<!-- ace settings handler -->

	<script src="{{ url_for('static', filename='js/lib/ace-extra.min.js') }}"></script>
	<!-- HTML5shiv and Respond.js for IE8 to support HTML5 elements and media queries -->
	<!--[if lte IE 8]>
	<script src="assets/js/html5shiv.min.js"></script>
	<script src="assets/js/respond.min.js"></script>
	<![endif]-->

    {% endblock %}
</head>
<body class="no-skin">
    <!-- 页面的title栏  -->
    {% block navbar %}
    <div id="navbar" class="navbar navbar-default ace-save-state">
		<div class="navbar-container ace-save-state" id="navbar-container">
			<button type="button" class="navbar-toggle menu-toggler pull-left" id="menu-toggler" data-target="#sidebar">
				<span class="sr-only">Toggle sidebar</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<div class="navbar-header pull-left">
				<a href="index.html" class="navbar-brand">
					<small>
						<i class="fa fa-home"></i>
						公租房廉租房审批系统
					</small>
				</a>
			</div>

			<div class="navbar-buttons navbar-header pull-right" role="navigation">
				<ul class="nav ace-nav">
					<li class="grey dropdown-modal">
						<a data-toggle="dropdown" class="dropdown-toggle" href="#">
							<i class="ace-icon fa fa-tasks"></i>
							<span class="badge badge-grey">0</span>
						</a>
					</li>

					<li class="purple dropdown-modal">
						<a data-toggle="dropdown" class="dropdown-toggle" href="#">
							<i class="ace-icon fa fa-bell icon-animated-bell"></i>
							<span class="badge badge-important">0</span>
						</a>
                    </li>

					<li class="green dropdown-modal">
						<a data-toggle="dropdown" class="dropdown-toggle" href="#">
							<i class="ace-icon fa fa-envelope icon-animated-vertical"></i>
							<span class="badge badge-success">0</span>
						</a>
                    </li>

					<li class="light-blue dropdown-modal">
						<a data-toggle="dropdown" href="#" class="dropdown-toggle">
							<img class="nav-user-photo" src="{{ url_for('static', filename='images/avatars/user.jpg') }}" alt="Jason's Photo" />
							<span class="user-info">
								<small>欢迎,</small>
								Jason
							</span>

							<i class="ace-icon fa fa-caret-down"></i>
						</a>

						<ul class="user-menu dropdown-menu-right dropdown-menu dropdown-yellow dropdown-caret dropdown-close">
							<li>
								<a href="#">
									<i class="ace-icon fa fa-cog"></i>
									设置
								</a>
							</li>

							<li>
								<!-- <a href="profile.html"> -->
								<a href="profile.html">
									<i class="ace-icon fa fa-user"></i>
									用户信息
								</a>
							</li>

							<li class="divider"></li>

							<li>
								<a href="#">
									<i class="ace-icon fa fa-power-off"></i>
									注销登录
								</a>
							</li>
						</ul>
					</li>
				</ul>
			</div>
		</div><!-- /.navbar-container -->
	</div>
    {% endblock %}
    {% block main_container %}
    <div class="main-container ace-save-state" id="main-container">
		<script type="text/javascript">
			try {
				ace.settings.loadState('main-container')
			} catch (e) {}
		</script>

		<div id="sidebar" class="sidebar responsive ace-save-state">
			<script type="text/javascript">
				try {
					ace.settings.loadState('sidebar')
				} catch (e) {}
			</script>

			<div class="sidebar-shortcuts" id="sidebar-shortcuts">
				<div class="sidebar-shortcuts-large" id="sidebar-shortcuts-large">
					<button class="btn btn-success">
						<i class="ace-icon fa fa-signal"></i>
					</button>

					<button class="btn btn-info">
						<i class="ace-icon fa fa-pencil"></i>
					</button>

					<button class="btn btn-warning">
						<i class="ace-icon fa fa-users"></i>
					</button>

					<button class="btn btn-danger">
						<i class="ace-icon fa fa-cogs"></i>
					</button>
				</div>

				<div class="sidebar-shortcuts-mini" id="sidebar-shortcuts-mini">
					<span class="btn btn-success"></span>

					<span class="btn btn-info"></span>

					<span class="btn btn-warning"></span>

					<span class="btn btn-danger"></span>
				</div>
			</div><!-- /.sidebar-shortcuts 4个快捷方式 -->
			<!--菜单-->
			<ul class="nav nav-list">
				<li class="active">
					<a href="/index">
						<i class="menu-icon fa fa-tachometer"></i>
						<span class="menu-text"> 功能菜单 </span>
					</a>
					<b class="arrow"></b>
				</li>

				<li class="{{ menu0 }}">
					<a href="#" class="dropdown-toggle">
						<i class="menu-icon fa fa-desktop"></i>
						<span class="menu-text">
							申请操作
						</span>
						<b class="arrow fa fa-angle-down"></b>
					</a>

					<b class="arrow"></b>

					<ul class="submenu">
						<li class="{{ menu0_1 }}">
							<a href="/apply" id="menu-0-1">
								<i class="menu-icon fa fa-caret-right"></i>
								住房申请
							</a>
						</li>
						<!--active-->
						<li class="{{ menu0_2 }}">
							<a href="/applylist" id="menu-0-2">
								<i class="menu-icon fa fa-caret-right"></i>
								住房申请查询
							</a>
							<b class="arrow"></b>
						</li>
						<li class="{{ menu0_3 }}">
							<a href="/approve?mode=search" id="menu-0-3">
								<i class="menu-icon fa fa-caret-right"></i>
								申请审批表
							</a>
							<b class="arrow"></b>
						</li>
					</ul>
				</li>

				<li class="{{ menu1 }}">
					<a href="#" class="dropdown-toggle">
						<i class="menu-icon fa fa-list"></i>
						<span class="menu-text"> 审批操作 </span>
						<b class="arrow fa fa-angle-down"></b>
					</a>

					<b class="arrow"></b>

					<ul class="submenu">
						<li class="{{ menu1_1 }}">
							<a href="/approve?mode=street" id="menu-1-1">
								<i class="menu-icon fa fa-caret-right"></i>
								街道审批
							</a>

							<b class="arrow"></b>
						</li>

						<li class="{{ menu1_2 }}">
							<a href="/approvelist?mode=street" id="menu-1-2">
								<i class="menu-icon fa fa-caret-right"></i>
								街道审批查询
							</a>

							<b class="arrow"></b>
						</li>
						<li class="{{ menu1_3 }}">
							<a href="/approve?mode=dept">
								<i class="menu-icon fa fa-caret-right"></i>
								住建局审批
							</a>

							<b class="arrow"></b>
						</li>

						<li class="{{ menu1_4 }}">
							<a href="jqgrid.html">
								<i class="menu-icon fa fa-caret-right"></i>
								住建局审批查询
							</a>

							<b class="arrow"></b>
						</li>
					</ul>
				</li>

				<li class="{{ menu2 }}">
					<a href="#" class="dropdown-toggle">
						<i class="menu-icon fa fa-list-alt"></i>
						<span class="menu-text"> 报表中心 </span>
						<b class="arrow fa fa-angle-down"></b>
					</a>
					<b class="arrow"></b>
					<ul class="submenu">
						<li class="{{ menu2_1 }}">
							<a href="form-elements.html">
								<i class="menu-icon fa fa-caret-right"></i>
								已申请明细表
							</a>

							<b class="arrow"></b>
						</li>

						<li class="{{ menu2_2 }}">
							<a href="form-elements-2.html">
								<i class="menu-icon fa fa-caret-right"></i>
								已通过明细表
							</a>

							<b class="arrow"></b>
						</li>
					</ul>
				</li>

				<li class="{{ menu3 }}">
					<a href="#" class="dropdown-toggle">
						<i class="menu-icon fa  fa-pencil-square-o"></i>
						<span class="menu-text"> 系统管理 </span>
						<b class="arrow fa fa-angle-down"></b>
					</a>
					<b class="arrow"></b>
					<ul class="submenu">
						<li class="{{ menu3_1 }}">
							<a href="form-elements.html">
								<i class="menu-icon fa fa-caret-right"></i>
								系统设置
							</a>

							<b class="arrow"></b>
						</li>

						<li class="{{ menu3_2 }}">
							<a href="form-elements-2.html">
								<i class="menu-icon fa fa-caret-right"></i>
								修改密码
							</a>

							<b class="arrow"></b>
						</li>
						<li class="{{ menu3_3 }}">
							<a href="form-elements-2.html">
								<i class="menu-icon fa fa-caret-right"></i>
								注销
							</a>

							<b class="arrow"></b>
						</li>
					</ul>
				</li>
			</ul><!-- /.nav-list -->

			<div class="sidebar-toggle sidebar-collapse" id="sidebar-collapse">
				<i id="sidebar-toggle-icon" class="ace-icon fa fa-angle-double-left ace-save-state" data-icon1="ace-icon fa fa-angle-double-left"
				 data-icon2="ace-icon fa fa-angle-double-right"></i>
			</div>
		</div>

		<div class="main-content">
			<div class="main-content-inner">
				<div class="breadcrumbs ace-save-state" id="breadcrumbs">
					<ul class="breadcrumb">
						<li>
							<i class="ace-icon fa fa-home home-icon"></i>
							<a href="#">首页</a>
						</li>
						<li class="active">功能区</li>
						<i class="ace-icon fa fa-angle-double-right"></i>
						<li class="active">{{ pagename }}</li>

					</ul><!-- /.breadcrumb -->
					{% block optbuttons %}
                    <button class="width-15 btn btn-sm btn-primary" >
                        <i class="ace-icon fa fa-plus-square"></i>
                        <span class="bigger-110">按钮1</span>
                    </button>
                    <button class="width-15 btn btn-sm btn-primary" data-toggle="modal" data-target="#search-modal">
                        <i class="ace-icon fa fa-search"></i>
                        <span class="bigger-110">按钮2</span>
                    </button>
					{% endblock %}
<!--					<div class="nav-search" id="nav-search">-->

<!--						<form class="form-search">-->
<!--							<span class="input-icon">-->
<!--								<input type="text" placeholder="搜索 ..." class="nav-search-input" id="nav-search-input" autocomplete="off" />-->
<!--								<i class="ace-icon fa fa-search nav-search-icon"></i>-->
<!--							</span>-->
<!--						</form>-->
<!--					</div>&lt;!&ndash; /.nav-search &ndash;&gt;-->
                </div>
                {% block pagecontent %}
                <div class="page-content">
				</div><!-- /.page-content -->
                {% endblock %}
			</div>
		</div><!-- /.main-content -->

		<div class="footer">
			<div class="footer-inner">
				<div class="footer-content">
					<span class="bigger-120">
						<span class="blue bolder">房产</span>
						鞍山众赢电子科技有限公司 &copy; 2003-2019
					</span>

					&nbsp; &nbsp;
					<span class="action-buttons">
						<a href="#">
							<i class="ace-icon fa fa-weixin light-blue bigger-150"></i>
						</a>

						<a href="#">
							<i class="ace-icon fa fa-weibo text-primary bigger-150"></i>
						</a>

						<a href="#">
							<i class="ace-icon fa fa-qq orange bigger-150"></i>
						</a>
					</span>
				</div>
			</div>
		</div>
		{% block search %}
		{% endblock %}
		{% block street_account %}
		{% endblock %}

		<a href="#" id="btn-scroll-up" class="btn-scroll-up btn btn-sm btn-inverse">
			<i class="ace-icon fa fa-angle-double-up icon-only bigger-110"></i>
		</a>
    </div><!-- /.main-container -->
    {% endblock %}
    {% block footer_lib %}

		<script src="{{ url_for('static', filename='js/lib/jquery-2.1.4.min.js') }}"></script>
		<script src="{{ url_for('static', filename='js/lib/jquery.media.js') }}"></script>
		<script src="{{ url_for('static', filename='js/common.js') }}"></script>

        <script type="text/javascript">
            //if('ontouchstart' in document.documentElement) document.write("<script src='assets/js/jquery.mobile.custom.min.js'>"+"<"+"/script>");
        </script>
        <script src="{{ url_for('static', filename='js/lib/bootstrap.min.js') }}"></script>
        <script src="{{ url_for('static', filename='js/lib/jquery.dataTables.min.js') }}"></script>
        <script src="{{ url_for('static', filename='js/lib/jquery.dataTables.bootstrap.min.js') }}"></script>
        <script src="{{ url_for('static', filename='js/lib/dataTables.buttons.min.js') }}"></script>
        <script src="{{ url_for('static', filename='js/lib/buttons.flash.min.js') }}"></script>
        <script src="{{ url_for('static', filename='js/lib/buttons.html5.min.js') }}"></script>
        <script src="{{ url_for('static', filename='js/lib/buttons.print.min.js') }}"></script>
        <script src="{{ url_for('static', filename='js/lib/buttons.colVis.min.js') }}"></script>
        <script src="{{ url_for('static', filename='js/lib/dataTables.select.min.js') }}"></script>
        <script src="{{ url_for('static', filename='js/lib/jquery-ui.custom.min.js') }}"></script>
        <script src="{{ url_for('static', filename='js/lib/jquery.ui.touch-punch.min.js') }}"></script>
        <script src="{{ url_for('static', filename='js/lib/chosen.jquery.min.js') }}"></script>
        <script src="{{ url_for('static', filename='js/lib/spinbox.min.js') }}"></script>
        <script src="{{ url_for('static', filename='js/lib/bootstrap-datepicker.min.js') }}"></script>
        <script src="{{ url_for('static', filename='js/lib/bootstrap-timepicker.min.js') }}"></script>
        <script src="{{ url_for('static', filename='js/lib/moment.min.js') }}"></script>
        <script src="{{ url_for('static', filename='js/lib/daterangepicker.min.js') }}"></script>
        <script src="{{ url_for('static', filename='js/lib/bootstrap-datetimepicker.min.js') }}"></script>
        <script src="{{ url_for('static', filename='js/lib/bootstrap-colorpicker.min.js') }}"></script>
        <script src="{{ url_for('static', filename='js/lib/jquery.knob.min.js') }}"></script>
        <script src="{{ url_for('static', filename='js/lib/autosize.min.js') }}"></script>
        <script src="{{ url_for('static', filename='js/lib/jquery.inputlimiter.min.js') }}"></script>
        <script src="{{ url_for('static', filename='js/lib/jquery.maskedinput.min.js') }}"></script>
        <script src="{{ url_for('static', filename='js/lib/bootstrap-tag.min.js') }}"></script>
        <script src="{{ url_for('static', filename='js/lib/ace-elements.min.js') }}"></script>
        <script src="{{ url_for('static', filename='js/lib/ace.min.js') }}"></script>
	<!-- inline scripts related to this page -->
		{% block jsreference %}
		{% endblock %}
		{% block reference %}
		{% endblock %}
    {% endblock %}
</body>
</html>